.color-encabezado{
    padding-left: 150px;
    padding-right: 150px;
    background-color: #e83e8c;
}

.icons-section{
    padding: 50px;
    background-color: #17a2b8;
}

.cuerpo-section{
    margin-left: 100px;
    margin-right: 100px;
}

footer{
    padding: 50px;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

h1{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;  
}

h5{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;  
}

.content{
    padding-top: 250px;
    padding-bottom: 30px;
}

@media(min-width: 768px){
    .content{
        padding-top: 200px;
        padding-bottom: 30px;
    }
}